:root {

  --light-primary: #fefcfc;
  --light-secondary: #453afa;
  --light-accent1: #38558f;
  --light-accent2: #f54d00;


  --dark-primary: #27303b;
  --dark-secondary: #1de1a4;
  --dark-accent1: #ed761b;
  --dark-accent2: #cf005d;

}

body.light {
  --primary: var(--light-primary);
  --secondary: var(--light-secondary);
  --accent1: var(--light-accent1);
  --accent2: var(--light-accent2);
}
body.dark {
  --primary: var(--dark-primary);
  --secondary: var(--dark-secondary);
  --accent1: var(--dark-accent1);
  --accent2: var(--dark-accent2);
}

body {
  background: var(--primary);
}

.divider {
  border: 0;
  height: 1px;
  background-color: var(--secondary);
}

/* Dashboard component */
.dashboard {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
  color: var(--secondary);
  padding: 0 2rem;
}

.dashboard-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.site-title {
  margin: 0 1rem;
  margin-right: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.dashboard-links {
  display: flex;
}

/* Links in the Dashboard component */
.dashboard-link {
  font-size: 1.25rem;
  margin: 0 0.5rem;
  color: var(--secondary);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.dashboard-link:hover,
.dashboard-link:focus {
  color: var(--accent1);
}

.dashboard-link:active {
  color: var(--accent2);
}

.dashboard-toggle{
  margin: 0 1rem;
  margin-right: 1rem;
}

.theme-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  transition: color 0.2s ease-in-out;
}

.toggle-icon:hover,
.toggle-icon:focus {
  fill: var(--accent1);
}

.toggle-icon:active {
  fill: var(--accent2);
}

.toggle-icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--secondary);
}

/* FictionList component */
.fiction-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  width: 80%;
  margin: 0 auto;
}

/* Fiction component within the FictionList component */
.grid-item {
  flex-direction: column;
  align-items: center;
  background-color: rgba(var(--primary), .2);
  color: var(--secondary);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.2s ease-in-out;
}

.grid-item:hover,
.grid-item:focus {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.fiction {
  display: flex;
  flex-direction: column;
}

.fiction-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0;
}

.author {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

.score {
  font-size: 1.25rem;
}

/* Links within the Fiction component */
.fiction-link {
  color: var(--secondary);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.fiction-link:hover,
.fiction-link:focus {
  color: var(--accent1);
}
.fiction-link:active {
  color: var(--accent2);
}

.similar-button {
  font-size: 1.25rem;
  color: var(--secondary);
  background-color: transparent;
  border: 0.1rem solid var(--secondary);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  outline: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
}

.similar-button:hover,
.similar-button:focus {
  background-color: var(--accent1);
  color: #fff;
}

.similar-button:active {
  background-color: var(--accent2);
  color: #fff;
}

/* Homepage css */

.homepage {
  flex-direction: column;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.search-container > form {
  display: flex;
  align-items: center;
}

.search-container > form > label {
  font-size: 1.25rem;
  margin: 0 1rem;
  display: flex;
  flex-flow: row;
  color: var(--secondary);
  justify-content: center;
  align-items: center;
  margin-right: -0.2rem;
}

.search-container > form > input[type="text"] {
  font-size: 1.25rem;
  border: 0.1rem solid var(--secondary);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  outline: none;
  margin: 0 1rem;
}

.search-container > form > input[type="submit"] {
  font-size: 1.25rem;
  color: var(--secondary);
  background-color: transparent;
  border: 0.1rem solid var(--secondary);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  outline: none;
  padding: 0.5rem 1rem;
}

.search-container > form > input[type="submit"]:hover,
.search-container > form > input[type="submit"]:focus {
  background-color: var(--accent1);
  color: #fff;
}

.search-container > form > input[type="submit"]:active {
  background-color: var(--accent2);
  color: #fff;
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.page-info {
  font-size: 1.5rem;
  margin: 0 1rem;
  color: var(--secondary);
}

.prev-button,
.next-button {
  font-size: 1.25rem;
  color: var(--secondary);
  background-color: transparent;
  border: 0.1rem solid var(--secondary);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  outline: none;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
}

.prev-button:hover,
.prev-button:focus,
.next-button:hover,
.next-button:focus {
  background-color: var(--accent1);
  color: #fff;
}

.prev-button:active,
.next-button:active {
  background-color: var(--accent2);
  color: #fff;
}


.prev-button:disabled,
.next-button:disabled {
  color: #ccc;
  border-color: #ccc;
  cursor: default;
  background-color: var(--primary);
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.section-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0;
  color: var(--secondary);
}

.section-text {
  font-size: 1.25rem;
  margin: 0.5rem 0;
  color: var(--secondary);
}
